.quizlist ul {
 list-style-type: none;
}
.maindiv {
    width: 50%;
    margin: auto;
}

.maindiv h2 {
    text-align: center;
}
.quizname {
    width: 100%;
    border: 5px solid dodgerblue;
    border-radius: 10%;
   margin: auto;
    padding: 20px;
}
.quizname a {
    text-decoration: none;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.quizlist {
    width: 500px;
    border: 2px solid dodgerblue;
    border-radius: 10%;
    padding: 5px;
    
}

.quizlist li {
  
    padding: 5px;
    color:dodgerblue;
    margin-left: -40px;
    font-size: 15px;
    
       
   }
.quizlist li:hover {
 background: dodgerblue;
 color: white;
 padding: 5px;
 cursor: pointer;
 
    
}